{% extends "TaxonomyBundle::layout.html.twig" %}

{% block page_title %}Terms in {{ vocabulary.label }}{% endblock %}

{% block content %}
    <a href="{{ path('taxonomy_admin_term_add', {'vocabName': vocabulary.name}) }}" class="btn btn-sm btn-primary">
        <span class="glyphicon glyphicon-plus"></span>
        <strong>Add Term</strong>
    </a>

    {% if terms %}
        {{ form_start(form) }}
        {{ form_errors(form) }}
    {% endif %}

    <table class="table table-striped table-hover table-condensed tabledrag tabledrag-processed">
        <thead>
            <tr class="active">
                <th>Name</th>
                <th>Description</th>
                <th class="tabledrag-hide">Form</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for key, term in terms %}
            <tr class="draggable">
                <td>
                    {% for i in 1..term.level if term.level > 0 %}
                        <div class="indentation">&nbsp;</div>
                    {% endfor %}
                    {{ term.name }}
                </td>
                <td>{{ term.desc }}</td>
                <td class="tabledrag-hide">{{ form_widget(form.terms[key]) }}</td>
                <td>
                    <div class="btn-group">
                        <a title="Edit" href="{{ path('taxonomy_admin_term_edit', {'vocabName': vocabulary.name, 'termId': term.id}) }}" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="text-hide">Edit</span>
                        </a>
                        <a title="Delete" href="{{ path('taxonomy_admin_term_delete', {'vocabName': vocabulary.name, 'termId': term.id}) }}" class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>
                            <span class="text-hide">Delete</span>
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">
                    <em>There are currently no terms in this vocabulary.</em>
                    <a href="{{ path('taxonomy_admin_term_add', {'vocabName': vocabulary.name}) }}">Add a term.</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if terms %}
        {{ form_widget(form.save) }}
        {{ form_end(form) }}
    {% endif %}

    <script src="components/tabledrag/js/tabledrag.js"></script>
{% endblock %}
